Project/Node-Red_testing flows/Client_testing flow Robbe Elsermans.json
[{"id":"c87ab39.6a0d45","type":"tab","label":"Testing RPi MQTT berichten","disabled":false,"info":""},{"id":"42614ce0.07ab04","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[20,90,30,190]","payloadType":"json","x":390,"y":40,"wires":[["46bed37a.93659c"]]},{"id":"46bed37a.93659c","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/player1/server/coords","qos":"","retain":"","broker":"63211e6f.957c1","x":660,"y":60,"wires":[]},{"id":"2c32461.5bf91ba","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/player1/client/up","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":240,"y":240,"wires":[["be58954e.8b7988"]]},{"id":"8c47440d.88c788","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/player1/client/down","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":250,"y":280,"wires":[["be58954e.8b7988"]]},{"id":"667a15d2.95eb9c","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/player1/client/fast","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":250,"y":320,"wires":[["be58954e.8b7988"]]},{"id":"be58954e.8b7988","type":"debug","z":"c87ab39.6a0d45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":240,"wires":[]},{"id":"6279e7db.dc9358","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[140,240,160,260]","payloadType":"json","x":210,"y":440,"wires":[["4dc83bbc.af23b4","be58954e.8b7988"]]},{"id":"4dc83bbc.af23b4","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/bal/coords","qos":"","retain":"","broker":"63211e6f.957c1","x":470,"y":380,"wires":[]},{"id":"dee95a33.29cb68","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/client/start","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":220,"y":360,"wires":[["be58954e.8b7988","c681531.c02c9b","9c910bb4.a36d58","e56ada71.48f328"]]},{"id":"9c910bb4.a36d58","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/server/start","qos":"","retain":"","broker":"c5655d86.fe71d","x":490,"y":600,"wires":[]},{"id":"d0d161b1.13719","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/server/startnext","qos":"2","retain":"","broker":"c5655d86.fe71d","x":500,"y":660,"wires":[]},{"id":"1e5b0b8b.e77cd4","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"True","payloadType":"str","x":190,"y":580,"wires":[["9c910bb4.a36d58","d0d161b1.13719","e56ada71.48f328","c681531.c02c9b"]]},{"id":"c681531.c02c9b","type":"trigger","z":"c87ab39.6a0d45","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":680,"wires":[["3e196d5f.926b02","d0d161b1.13719"]]},{"id":"3e196d5f.926b02","type":"join","z":"c87ab39.6a0d45","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":440,"y":740,"wires":[["96adb2d1.5e08f"]]},{"id":"96adb2d1.5e08f","type":"change","z":"c87ab39.6a0d45","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["c681531.c02c9b"]]},{"id":"84a75ff0.feeb6","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[20,80,30,180]","payloadType":"json","x":390,"y":80,"wires":[["46bed37a.93659c"]]},{"id":"481e2013.d8c65","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[20,70,30,170]","payloadType":"json","x":390,"y":120,"wires":[["46bed37a.93659c"]]},{"id":"11b70dbb.0a7112","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[20,60,30,160]","payloadType":"json","x":390,"y":160,"wires":[["46bed37a.93659c"]]},{"id":"10db9893.d45837","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[20,50,30,150]","payloadType":"json","x":390,"y":200,"wires":[["46bed37a.93659c"]]},{"id":"aa285eb8.1b8d8","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/player2/server/coords","qos":"","retain":"","broker":"63211e6f.957c1","x":1140,"y":40,"wires":[]},{"id":"e5950874.7b2648","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[470,90,480,190]","payloadType":"json","x":900,"y":40,"wires":[["aa285eb8.1b8d8"]]},{"id":"3487af3a.f67b3","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[470,80,480,180]","payloadType":"json","x":900,"y":80,"wires":[["aa285eb8.1b8d8"]]},{"id":"e8011472.3fb658","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[470,70,480,170]","payloadType":"json","x":900,"y":120,"wires":[["aa285eb8.1b8d8"]]},{"id":"4850212a.65981","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[470,60,480,160]","payloadType":"json","x":900,"y":160,"wires":[["aa285eb8.1b8d8"]]},{"id":"f7b1d6af.c9b5b8","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[470,50,480,150]","payloadType":"json","x":900,"y":200,"wires":[["aa285eb8.1b8d8"]]},{"id":"55f1c799.748f38","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/player1/server/coords","qos":"","retain":"","broker":"63211e6f.957c1","x":840,"y":440,"wires":[]},{"id":"53d70af4.5bd964","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/player2/server/coords","qos":"","retain":"","broker":"63211e6f.957c1","x":840,"y":500,"wires":[]},{"id":"8244371c.d2eab8","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/bal/coords","qos":"","retain":"","broker":"63211e6f.957c1","x":810,"y":560,"wires":[]},{"id":"e56ada71.48f328","type":"function","z":"c87ab39.6a0d45","name":"","func":"\nreturn [{payload:[20, 200,30, 300]},{payload:[480, 200,470, 300]},{payload:[240,240,260,260]}];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["2eda8fd4.519b"],["f3c18d96.1de2"],["da8ebe7e.de8ee"]]},{"id":"2eda8fd4.519b","type":"delay","z":"c87ab39.6a0d45","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":440,"wires":[["55f1c799.748f38"]]},{"id":"f3c18d96.1de2","type":"delay","z":"c87ab39.6a0d45","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":500,"wires":[["53d70af4.5bd964"]]},{"id":"da8ebe7e.de8ee","type":"delay","z":"c87ab39.6a0d45","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":560,"wires":[["8244371c.d2eab8"]]},{"id":"54d6dca.4b93e24","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/client/player","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":200,"y":860,"wires":[["fce9f6d1.a8bda8"]]},{"id":"2e6ab6a7.10dc6a","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/server/player","qos":"","retain":"","broker":"63211e6f.957c1","x":440,"y":1000,"wires":[]},{"id":"fce9f6d1.a8bda8","type":"debug","z":"c87ab39.6a0d45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":860,"wires":[]},{"id":"c79cc259.7317d","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"True","payloadType":"str","x":170,"y":960,"wires":[["2e6ab6a7.10dc6a"]]},{"id":"2d8ab82e.d19798","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"False","payloadType":"str","x":170,"y":1000,"wires":[["2e6ab6a7.10dc6a"]]},{"id":"428fd150.0a8ab","type":"mqtt out","z":"c87ab39.6a0d45","name":"","topic":"/server/selectplayer","qos":"","retain":"","broker":"63211e6f.957c1","x":450,"y":1080,"wires":[]},{"id":"6f351d9a.ef6f34","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"False","payloadType":"str","x":170,"y":1120,"wires":[["428fd150.0a8ab"]]},{"id":"a7628b20.3c2068","type":"inject","z":"c87ab39.6a0d45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"True","payloadType":"str","x":170,"y":1080,"wires":[["428fd150.0a8ab"]]},{"id":"b107c241.477e2","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/player2/client/up","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":780,"y":260,"wires":[["be58954e.8b7988"]]},{"id":"fea6490f.2f4d88","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/player2/client/down","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":790,"y":300,"wires":[["be58954e.8b7988"]]},{"id":"160176b4.2bb2a9","type":"mqtt in","z":"c87ab39.6a0d45","name":"","topic":"/player2/client/fast","qos":"2","datatype":"auto","broker":"c5655d86.fe71d","x":790,"y":340,"wires":[["be58954e.8b7988"]]},{"id":"63211e6f.957c1","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5655d86.fe71d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]